/* Global Font Styles */
h1, h2, h3, h4, p, span {
    font-family: 'Aileron', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}
h4 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
}
p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}
span {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.25rem;
}

/* Media query adjustments for small screens */
@media (max-width: 720px) {
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    span {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
